<div class="header">
  <a href="#" class="logo"></a>
  <div class="text-menu-wrapper">
    <a href="#" class="text-content">Главная</a>
    <a href="#" class="text-content">Продукция</a>
    <a href="#" class="text-content">Информация</a>
    <a href="#" class="text-content">Цены</a>
  </div>

  <a on-click="showNavMenu()" class="menu"></a>

  <div class="nav-menu" id="navigation-menu">
    <div>
      <a class="close-button1"></a>
    </div>

    <div class="inside-top-menu-bar">
      <a href="#" class="nav-menu-text-content">Главная</a>
      <a href="#" class="nav-menu-text-content">Продукция</a>
      <a href="#" class="nav-menu-text-content">Информация</a>
      <a href="#" class="nav-menu-text-content">Цены</a>
    </div>

    <div class="inside-bottom-menu-bar">
      <a href="#" class="nav-menu-text-content">index_creator@gmail.com</a>
      <a href="#" class="nav-menu-text-content">manager@gmail.com</a>
      <a href="#" class="nav-menu-text-content">agroprom@gmail.com</a>
    </div>
  </div>
  <img src="../../assets/images/header-img-cut-cut-cut.png">
</div>
