<div class="category-card-wrapper">
  <div class="header-text">
    <h3 style="text-align: center;">Экологически чистое производство</h3>
  </div>
  <div class="row">
    <!--<div class="category-image-wrapper">
      <img src="../../assets/images/field1.png">
    </div>
    <div class="category-image-wrapper">
      <img src="../../assets/images/field2.png">
    </div>
    <div class="category-image-wrapper">
      <img src="../../assets/images/field3.png">
    </div>-->
    <div class="col-md-3" style="margin-left: 3%; margin-top: 2.7%; margin-bottom: 2.7%;">
      <img src="../../assets/images/field1.png" class="rounded float-start">
    </div>
    <div class="col-md-4" style=" margin-top: 2.7%; margin-bottom: 2.7%;">
      <img src="../../assets/images/field2.png" class="rounded mx-auto d-block">
    </div>
    <div class="col-md-3" style="margin-right: 3%; margin-top: 2.7%; margin-bottom: 2.7%;">
      <img src="../../assets/images/field3.png" class="rounded float-end">
    </div>
  </div>
</div>
