button {
  width: 3rem;
  height: 3rem;
  border: 0px;
  border-radius: 100%;
  background-color: hsl(227, 100%, 97%);

  background-image: url(../../assets/icons/user-solid.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  fill: hsl(239, 82%, 60%);
  &:hover {
    border: 2px solid hsl(245, 81%, 29%);
    /* background-color: hsl(239, 82%, 60%); */
  }

  &:active {
    background-color: hsl(239, 82%, 60%);
  }
}
