<div class="footer-wrapper">
  <a href="#" class="logo"></a>
  <div>
    <p class="text-content">
      Экологически чистый продуктЭкологически чистый<br>продуктЭкологически
      чистый продуктЭкологически чистый<br>продуктЭкологически чистый продукт
      Экологически<br>чистый продуктЭкологически чистый продуктЭкологически
    </p>
    <p class="text-content">index_creator@gmail.com<br>manager@gmail.com<br>agroprom@gmail.com </p>
  </div>
  <div class=icons-container>
    <img src="../../assets/icons/vk.png" class="icon">
    <img src="../../assets/icons/fb.png" class="icon">
    <img src="../../assets/icons/inst.png" class="icon">
  </div>
</div>
