@import "../app.component.scss";

.category-card-wrapper {
  margin-bottom: 100px;
}

.row {
  background-color: $main-element-background-mango;
  flex-wrap: wrap;
  max-width: 950px;
  max-height: 500px;
  border-radius: 20px;
  margin: auto;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
}

.category-image-wrapper {
  margin: auto;
  border-radius: 20px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.header-text {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('http://hb.bizmrg.com/fonts/montserrat/400.woff2') format('woff2'), url('http://hb.bizmrg.com/fonts/montserrat/400.woff') format('woff');
  font-size: 20pt;
  font-weight: bold;
  color: black;

  max-width: 950px;
  max-height: 500px;
  border-radius: 20px;

  padding: auto;
  margin-bottom: 50px;
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
