<div class="category-card-wrapper">
  <div class="header-text">
    <h3 style="text-align: center;">Свяжитесь с нами</h3>
  </div>
  <div class="row">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Ваше имя</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Ваша почта</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Введите ваше сообщение сюда</div>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-bottom: 56px;">Submit</button>
    </form>
  </div>
</div>
